<div class="container-fluid text-center sm_header">
  <h1>About Us</h1>
</div>
<section class="md_section">
  <div class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3" id="about_stuff">
        <p>The social planner web app is
        designed to help students plan social events. It
        is built using the ruby on rails framework along
        with various APIs and deployed through heroku.</p>
      </div>
    </div>
</section>
