<div class="container-fluid text-center sm_header">
  <h1>Events</h1>
</div>
<section class="md_section">
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</section>
