@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Kalam);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

*{
  margin: 0;
  padding: 0;
}

body{
  background: rgba(0,0,0,0.5);
}

h1{
  font-family: 'Fredoka One';
  margin: 40px 60px;
  margin-bottom: 15px;
	font-size: 45px;
  color: #ffc;
  a.hover{
    decoration: none;
    font-style: none;
    color: #ffc;
  }
}

h2{
  font-family: 'Kalam', cursive;
	font-size: 30px;
  margin: 40px 60px;
  color: #ffc;
}

h3{
  font-family: 'Lobster', cursive;
	font-size: 15px;
  color: #ffc;
}

/* header */
.lg_header{
  margin-top: 30px;
  min-height: 650px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}

.sm_header{
  margin-top: 30px;
  min-height: 250px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}

/* navbar */
nav{
  background-color: #f72;
}

/* sections */
.md_section{
  min-height: 550px;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
}

.div-trans {
padding: 5px 20px 5px;
background-color: rgba(0, 0, 0, 0.2);
min-height: 300px;
margin: 30px;
color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-bottom: 30px;
  button {
    background-color: rgba(120,20,40,0.2);
  }
}
#home .form-control {
background-color:transparent;
}

#new_user_form{
  margin-top: 40px;
  background: rgba(40,40,0,0.6);
}

/* slide */
.carousel-indicators {
  position: absolute;
  bottom: -40px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -50%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #b7cb1b;
}


.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px)
{

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
}
}
